<%- include ("../../partials/header.ejs") %> 
<%- include ("../../partials/navbar.ejs") %> 
<div class="container">
    <hr>
    <h2> Categorias </h2>
    <hr>
    <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria </a> <!-- button por classe para uso de ahref-->
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)"> <!-- sempre que um evento é disparado o onsubit é disparado, vamos usar isso para fazer uma verificação - estamos passando como parametro  a ação de submissão, this aq estamos falando do elemento q chama o envento(formulario )-->
                            <input type="hidden" name="id" value="<%= category.id %>"> <!-- ca,´p escmdodp que pega o nameid-->
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>  
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ("../../partials/footer.ejs") %>

<script>
    //Confirmando envio de DELETE
    function confirmarDelecao(event, form){
        event.preventDefault()
        var decision = confirm("Você quer deletar esta categoria?")
        if(decision){
           form.submit() //passando true
        }
    }

</script>